<div class="EHR-section mt-5 mb-5 p-5">
    <div class="EHR-Animation">
        <div class="title text-center">
            <h2 class="custom-h2">
                Al Powered EHR
            </h2>
        </div>
        <div class="description text-center mt-4">
            Streamline clinical workflows, enhance patient care and drive better financial outcomes with intelligent
            automation
        </div>
        <div class="ponits-wraper mt-3">
            <div class="points">
                <div>No third party tools</div>
                <div>No copy-paste needed</div>
                <div>Deep EHR integration</div>
            </div>
        </div>
        <div class="text-center mt-4">
            <img src="https://www.curemd.com/cmd/cmd-assets/images/ai-scribe-new/ai-scribe-desktop-screen.webp"
                alt="webp" width="65%" height="65%">
        </div>
        <div class="text-center phone-image">
            <img src="https://www.curemd.com/cmd/cmd-assets/images/ai-scribe-new/ai-scribe-mobile-screen0.webp"
                width="13%" height="50%">
        </div>
        <div class="button-square">
            <div class="btn square">
                Get Started →
            </div>
        </div>
    </div>
</div>