<div class="FAQ-section mt-5 mb-5">
    <div class="container">
        <div class="title text-center">
            <h2 class="custom-h2">FAQ</h2>
        </div>
        <div class="row">
            <div class="col-12 mt-2 item">
                <div class="d-flex justify-content-between align-items-center question" (click)="toggleAnswer($event)">
                    <h5 class="m-0">How is CureMD AI Scribe different from other medical documentation or dictation
                        software?</h5>
                    <span class="icon">+</span>
                </div>
                <p class="mt-3 answer">CureMD AI Scribe is more than just medical dictation software or an AI
                    medical
                    notetaker; it's a comprehensive doctor's note automation tool that automates both clinical
                    documentation and order management. Unlike other solutions, it filters out extraneous
                    information, generates codified SOAP notes directly in your EHR, and fills in applicable ICD-10
                    and DDID codes. It also automatically sends out orders once the note is signed. This produces
                    accurate voice-to-text medical notes, automated orders, saves time, reduces cognitive burden,
                    and allows you to focus more on patient care.</p>
            </div>
            <div class="col-12 mt-3 item">
                <div class="d-flex justify-content-between align-items-center question" (click)="toggleAnswer($event)">
                    <h5 class="m-0">How accurate are the generated SOAP notes?</h5>
                    <span class="icon">+</span>
                </div>
                <p class="mt-3 answer">Our solution has an industry-leading accuracy rate of up to 98%. Trained by
                    practicing physicians, this AI medical documentation tool understands medical terminology and
                    context, ensuring your SOAP notes are precise and reliable. The system continually adapts to
                    your unique documentation style, further improving accuracy over time.</p>
            </div>
            <div class="col-12 mt-3 item">
                <div class="d-flex justify-content-between align-items-center question" (click)="toggleAnswer($event)">
                    <h5 class="m-0">How fast is the response time?</h5>
                    <span class="icon">+</span>
                </div>
                <p class="mt-3 answer">CureMD AI Scribe leverages ambient listening technology to provide instant
                    transcription and documentation. Its rapid response time allows you to review and sign off on
                    notes immediately after patient encounters.</p>
            </div>
            <div class="col-12 mt-3 item">
                <div class="d-flex justify-content-between align-items-center question" (click)="toggleAnswer($event)">
                    <h5 class="m-0">Does the system handle codified order and documentation processing?</h5>
                    <span class="icon">+</span>
                </div>
                <p class="mt-3 answer">Absolutely. It automates codified order and documentation processing for
                    diagnoses, procedures, allergies, prescriptions, and lab tests, and creates follow-up
                    appointments as dictated. The system intelligently captures physical exams, reviews of systems,
                    and patient history, automatically recording this information and eliminating manual data entry
                    and errors.</p>
            </div>
            <div class="Extender1 text-center mt-4" (click)="toggleExtraFAQ($event)">
                <p class="Extender-text">Show More</p>
            </div>
            <div class="col-12 mt-3 item Extra">
                <div class="d-flex justify-content-between align-items-center question" (click)="toggleAnswer($event)">
                    <h5 class="m-0">How does the system customize SOAP notes for different specialties?</h5>
                    <span class="icon">+</span>
                </div>
                <p class="mt-3 answer">Our solution tailors SOAP notes to each physician's specialty and personal
                    documentation preferences. Whether you're in cardiology, pediatrics, or any other field, it
                    adapts to meet your specific needs, ensuring compliance with specialty-specific guidelines.</p>
            </div>
            <div class="col-12 mt-3 item Extra">
                <div class="d-flex justify-content-between align-items-center question" (click)="toggleAnswer($event)">
                    <h5 class="m-0">Can it incorporate historical patient information into notes?</h5>
                    <span class="icon">+</span>
                </div>
                <p class="mt-3 answer">Yes, AI Scribe enhances your automated medical notes by integrating
                    historical patient data. It provides updated notes that include both new transcriptions and
                    relevant previous information, ensuring a comprehensive view of the patient's medical history
                    within each note.</p>
            </div>
            <div class="col-12 mt-3 item Extra">
                <div class="d-flex justify-content-between align-items-center question" (click)="toggleAnswer($event)">
                    <h5 class="m-0">How does it ensure patient safety and compliance?</h5>
                    <span class="icon">+</span>
                </div>
                <p class="mt-3 answer">Your patients' safety and privacy are our top priorities. The system ensures
                    algorithmic discrimination protection, trustworthiness, and transparency, using data-minimizing
                    methods to enhance privacy. It is fully HIPAA-compliant and incorporates additional security
                    measures like de-identification and encryption of patient information to ensure all data remains
                    confidential and secure at all times.</p>
            </div>
            <div class="col-12 mt-3 item Extra">
                <div class="d-flex justify-content-between align-items-center question" (click)="toggleAnswer($event)">
                    <h5 class="m-0">Is CureMD AI Scribe available on mobile devices and does it offer deep EHR
                        integration?</h5>
                    <span class="icon">+</span>
                </div>
                <p class="mt-3 answer">Yes, it’s accessible via Avalon mobile EMR for iOS and Android devices, as
                    well as on desktop and tablet platforms. Its deep integration with the CureMD EHR system ensures
                    seamless data flow and synchronization across all devices.</p>
            </div>
            <div class="col-12 mt-3 item Extra">
                <div class="d-flex justify-content-between align-items-center question" (click)="toggleAnswer($event)">
                    <h5 class="m-0">Are there specific accents or dialects that work best with CureMD AI Scribe?
                    </h5>
                    <span class="icon">+</span>
                </div>
                <p class="mt-3 answer">No, it effectively recognizes and transcribes all accents and dialects,
                    including multi-party conversations. Its advanced voice recognition technology ensures accurate
                    transcription regardless of speech variations.</p>
            </div>
            <div class="Extender2 text-center mt-4" (click)="toggleExtraFAQ($event)">
                <p class="Extender-text">Show Less</p>
            </div>
        </div>
    </div>
</div>