 <div class="footer-section">
     <div class="container">
         <div class="row">
             <div class="col-3 mt-5">
                 <div class="heading">
                     Solutions
                 </div>
                 <div class="mt-2 underlink"></div>
                 <div class="items mt-3">
                     <ul>
                         <li>All-in-one</li>
                         <li>Electronic Health Records</li>
                         <li>Practice Management</li>
                         <li>Specialty EHR</li>
                         <li>Medical Billing Service</li>
                         <li>Public Sector</li>
                         <li>Patient Portal</li>
                         <li>Avalon - EHR for iPad</li>
                     </ul>
                 </div>
             </div>
             <div class="col-3 mt-5">
                 <div class="heading">
                     Company
                 </div>
                 <div class="mt-2 underlink"></div>
                 <div class="items mt-3">
                     <ul>
                         <li>About us</li>
                         <li>FAQs</li>
                         <li>Partners</li>
                         <li>Awards</li>
                         <li>News</li>
                         <li>Support</li>
                         <li>Testimonials</li>
                         <li>28 years of excellence</li>
                     </ul>
                 </div>
             </div>
             <div class="col-6 mt-5">
                 <div class="heading">
                     Contact Us
                 </div>
                 <div class="mt-2 underlink"></div>
                 <div class="buttons mt-3">
                     <div class="btn footer-no1">
                         Sales
                     </div>
                     <div class="btn footer-no2 ms-1">
                         Newsletter
                     </div>
                 </div>
                 <div class="details mt-3">
                     <div class="detail-field">
                         <input class="field" type="text" placeholder="Name*" value="">
                     </div>
                     <div class="detail-field">
                         <input class="field" type="text" placeholder="Practice*" value="">
                     </div>
                 </div>
                 <div class="details mt-3">
                     <div class="detail-field">
                         <input class="field" type="email" placeholder="Email*" value="">
                     </div>
                     <div class="detail-field">
                         <input class="field" type="tel" placeholder="Phone*" value="">
                     </div>
                 </div>
                 <div class="details mt-3">
                     <div class="detail-field">
                         <input class="field" type="text" placeholder="Comments*" value="">
                     </div>
                     <div class="buttons">
                         <div class="btn footer-no1">
                             SEND REQUEST
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="row borders mt-3">
             <div class="col-4 mt-5">
                 <div class="heading">
                     EHR Cloud
                 </div>
                 <div class="mt-2 underlink"></div>
                 <div class="d-flex justify-content-between align-items-start">
                     <div class="mt-4" style="color: white;">
                         See All Plans <span>→</span>
                     </div>
                     <div class="mb-5 image-1">
                         <img src="https://www.curemd.com/cmd/cmd-assets/images/last_section.png">
                     </div>
                 </div>
             </div>
             <div class="col-5 central-borders mt-3">
                 <div class="text-center mt-4">
                     <img src="https://www.curemd.com/cmd/cmd-assets/images/curemd-klas.svg" width="350px">
                 </div>
             </div>
             <div class="col-3 text-center mt-4">
                 <div class="heading">
                     Get Social with CureMD
                 </div>
                 <div class="sub-heading mt-1">
                     <p>Thousands of people already have</p>
                 </div>
                 <div class="social-icons">

                 </div>
             </div>
         </div>
     </div>
     <div class="container-fluid p-3">
         <div class="container">
             <div class="d-flex justify-content-between">
                 <div>
                     <p>© 1997 - 2025 CureMD Healthcare</p>
                 </div>
                 <div class="terms">
                     <p>Privacy Policy</p>
                     <p>Terms of Use</p>
                 </div>
             </div>
         </div>
     </div>
 </div>