 <div class="safety-section mt-5 mb-5">
     <div class="container">
         <div class="title mt-5 text-center">
             <h2 class="custom-h2">
                 AI Safety at CureMD
             </h2>
         </div>
         <div class="sub-title text-center mt-4">
             <p>CureMD’s proprietary, medically-trained LLM has been developed since 2019. It has processed over a
                 billion patient visits and undergone extensive medical knowledge training while prioritizing ethical
                 integrity. By using diverse medical datasets, CureMD ensures its LLM recognizes and addresses
                 potential biases, enabling fair and equitable performance in all clinical scenarios.</p>
         </div>
         <div class="row mt-4">
             <div class="col-12 col-lg-6">
                 <div class="content">
                     <div class="heading mt-4">
                         Discover AI-Powered EHR
                     </div>
                     <div class="description mt-3">
                         Streamline workflows, enhance accuracy, and optimize billing with CureMD’s intelligent EHR.
                         Empower your practice with cutting-edge technology.
                     </div>
                     <div class="button-square mt-3">
                         <div class="btn square">
                             Get Started →
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-12 col-lg-6">
                 <div class="content">
                     <div class="heading mt-4">
                         Explore AI Capabilities
                     </div>
                     <div class="description mt-3">
                         From Disease Prevention and Trajectory Models to Clinical Decision Support and RCM models,
                         explore our AI capabilities for benefits across the board.
                     </div>
                     <div class="button-square mt-3">
                         <div class="btn square btnAI">
                             Ai&#64;curemd
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>