$button_bg_color: linear-gradient(90deg, #3388f6 2.85%, #96c6fa 100%);
$CureMD_blue_color: #0056b3;
$CureMD-bg-color: #fafafa;

.safety-section {
    padding-top: 8px;

    .container {
        .sub-title {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }

        .col-12 {
            padding: 20px;

            .content {
                background-color: $CureMD-bg-color;
                padding: 10px 20px;
                border-radius: 30px;

                .heading {
                    font-size: 24px;
                    line-height: 34px;
                    font-weight: bold;
                }

                .btnAI {
                    background: transparent;
                    color: #0088ca;
                    border: 1px solid #0088ca;
                }

                .btnAI:hover {
                    background: $button_bg_color;
                    color: white;
                    transform: translateY(0);
                }
            }

            .content:hover {
                background-color: #f1f7ff;
            }
        }
    }
}