<div class="intro-video">
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <video id="scribe-video" muted="" preload="none" playsinline="" controls="" style="width: 100%;"
                    poster="https://www.curemd.com/cmd/cmd-assets/images/ai-scribe-new/video-thumbnail.webp">
                    <source src="https://embed-ssl.wistia.com/deliveries/7a1ae2db1ce2532898f477122eae7e93c9d6ed3e.mp4"
                        type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>