<div class="landing-section mt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="title">
                    AI Scribe & Clinical Assist
                </div>
                <div class="sub-title mt-1">
                    Designed for your specialty—less workload, better notes, coding and orders
                </div>
                <div class="circle-buttons mt-3">
                    <div class="btn circle">
                        Dictation
                    </div>
                    <div class="btn circle">
                        Coding
                    </div>
                    <div class="btn circle">
                        Ordering
                    </div>
                    <div class="btn circle">
                        Scheduling
                    </div>
                </div>
                <div class="square-button mt-4">
                    <div class="btn square">
                        Get Demo →
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>