.landing-section {
    .container-fluid {
        background-color: #38a3d5;
        padding: 5%;
    }

    .row {
        .col-12 {
            padding-top: 2%;
            padding-bottom: 2%;
            padding-left: 10%;
            padding-right: 2%;

            .title {
                font-size: clamp(2rem, 6vw, 4rem);
                font-weight: 700;
                color: white;
                line-height: 65px;
                width: 500px;
            }

            .sub-title {
                font-size: 30px;
                color: white;
            }

            .circle-buttons {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 20px;

                .btn.circle {
                    color: white;
                    font-weight: 600;
                    font-size: 14px;
                    border: 1px solid rgba(255, 255, 255, 0.4);
                    border-radius: 35px;
                    padding: 10px 20px;
                }

                .btn.circle:hover {
                    background-color: white;
                    border-color: white;
                    color: #38a3d5;
                }
            }
        }
    }
}