<div class="guide-section mt-5 mb-5">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-lg-6 mt-5 column AnimationRight">
                <div class="title text-center">
                    <h2 class="custom-h2">
                        Fast, Accurate and Effortless
                    </h2>
                </div>
                <div class="description mt-3">
                    Start the AI scribe, review & approve the note/orders and sign off– you’re done.
                </div>
                <div class="details mt-5">
                    <div class="detail select" (click)="ChangeHandler($event)" data-target="#guide-image-1">
                        <div class="number">
                            01
                        </div>
                        <div class="words">
                            <div class="heading">
                                Listen
                            </div>
                            <div class="description">
                                The AI Scribe listens to patient-provider interactions, capturing all relevant
                                information
                            </div>
                        </div>
                    </div>
                </div>
                <div class="details mt-5">
                    <div class="detail" (click)="ChangeHandler($event)" data-target="#guide-image-2">
                        <div class="number">
                            02
                        </div>
                        <div class="words">
                            <div class="heading">
                                Transcribe
                            </div>
                            <div class="description">
                                Conversation is converted into a transcription with necessary orders generated
                            </div>
                        </div>
                    </div>
                </div>
                <div class="details mt-5 mb-5">
                    <div class="detail" (click)="ChangeHandler($event)" data-target="#guide-image-3">
                        <div class="number">
                            03
                        </div>
                        <div class="words">
                            <div class="heading">
                                Approve
                            </div>
                            <div class="description mb-5">
                                Review, edit, and approve your clinical notes and orders in a few clicks
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-5 AnimationLeft">
                <div class="text-center guide-image select" id="guide-image-1">
                    <img src="https://www.curemd.com/cmd/cmd-assets/images/ai-scribe-new/listen-new.webp" alt="img"
                        height="600px">
                </div>
                <div class="text-center guide-image" id="guide-image-2">
                    <img src="https://www.curemd.com/cmd/cmd-assets/images/ai-scribe-new/transcribe-new.webp" alt="img"
                        height="600px">
                </div>
                <div class="text-center guide-image" id="guide-image-3">
                    <img src="https://www.curemd.com/cmd/cmd-assets/images/ai-scribe-new/ai-scribe-mobile-screen0.webp"
                        alt="img" height="600px">
                </div>
            </div>
        </div>
    </div>
</div>