/* You can add global styles to this file, and also import other style files */
$button_bg_color: linear-gradient(90deg, #3388f6 2.85%, #96c6fa 100%);
$CureMD_blue_color: #0056b3;
$CureMD-bg-color: #fafafa;

body {
    font-family: "Poppins", sans-serif !important;
}

.btn.square {
    border-radius: 6px;
    min-width: 140px;
    padding: 12px 17px;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: $button_bg_color;
    color: white;
    transition: 0.3s ease, transform 0.3s ease;
}

.btn.square:hover {
    transform: translateY(-5px);
}

.custom-h2 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 500;
}

@media only screen and (max-width: 1300px){
    .custom-h2{
        font-size: 30px !important;
        line-height: 33px !important;
    }
}